@charset "utf-8";
/* VOGUE PJ 공통 클래스, 웹폰트 CSS - core.css */

/* 웹폰트 ///////////////////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap');
/* pistilli체 - pistilli "cdn" 라고 검색!
   ▶ font-family: 'Pistilli', sans-serif;
*/

/* @import url('http://fonts.cdnfonts.com/css/pistilli'); */

/* 
    < CDN 방식으로 작업했었어도, 마지막엔 로컬로 폰트하는게 좋다. >
      1) 해당 url경로 눌러서 들어가서 복사하고 아래 붙힌다. ->> @import url('http://fonts.cdnfonts.com/css/pistilli');

      2) 해당 복사한 사항 아래 붙히고,  
         @font-face {
            font-family: 'Pistilli';
            font-style: normal;
            font-weight: 400;
            src: local('Pistilli'), url('https://fonts.cdnfonts.com/s/19251/Pistilli-Roman.woff') format('woff');
         }

         -> src: local('Pistilli'), url('https://fonts.cdnfonts.com/s/19251/Pistilli-Roman.woff') 
            해당 url 또 눌러서 woff 포맷 다운!

      3) 파일탐색기에서 해당 경로로 들어가서
         E:\MyGit\FED\001.HTML학습\008.VOGUE_PJ\002.site >> "fonts" 
         "fonts" 라는 새폴더 만든다.
         -> 거기에 내려받은 woff 포맷 파일 집어넣기 
            ★ 파일명 띄어쓰기 하지 말것

      4) 다음으로 아래 
         @font-face {
            font-family: 'Pistilli';
            font-style: normal;
            font-weight: 400;
            src: local('Pistilli'), url( ////// ) format('woff');
         }

         -> 기존 url 지우고(다운받은 파일 경로 넣으려고), local('Pistilli') 로컬도 지운다. 
         -> url ( //// ) 괄호 안에 아까 새폴더 폰츠 만든거 해당 Woff파일 경로 붙혀넣기.

      5) 이제 맨처음 썼던 @import url('http://fonts.cdnfonts.com/css/pistilli');
         주석처리하거나 지워라.
 
*/
@font-face {
    font-family: 'Pistilli';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Pistilli-Roman.woff) format('woff');
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */


/* Roboto체 + Roboto Condensed체 */
/* 
   ▶ font-family: 'Roboto', sans-serif;
   ▶ font-family: 'Roboto Condensed', sans-serif;
*/

/* Roboto체 */
/* @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Roboto.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  } */

  /* Roboto Condensed체 */
/*   @font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/RobotoCondensed-Bold.woff) format('woff'); 
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  } */


/* ///////////////////////////////////////////////////////////////////////////////////////////////// */

/* 나눔바른고딕 */
/* 나눔바른고딕 "cdn" 라고 검색! */
/* 
   ▶ font-family: 'NanumBarunGothic', sans-serif;
*/
/* @import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css"); */

@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    src: url(../fonts/NanumBarunGothicLightSubset.woff) format('woff'),
   }

/*  
    < url 경로가 없으면??? >
      1) @import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
      2) url 들어가서 보면 아까 위처럼 내려받을 수가 없다.
      3) @font-face {
            font-family: 'NanumBarunGothic';
            font-weight: 300;
            src: url(NanumBarunGothicLightSubset.eot);
            src: url(NanumBarunGothicLightSubset.eot?#iefix) format('embedded-opentype'),
                 url(NanumBarunGothicLightSubset.woff2) format('woff2'),
                 url(NanumBarunGothicLightSubset.woff) format('woff'),
                 url(NanumBarunGothicLightSubset.ttf) format('truetype');
         }
         URL 들어가서 해당하는 문자 확인한다.
         보면 URL 주소가 없다는것을 볼 수 있다. ▶ 같은 위치에 있다는 뜻

      4) https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css
         해당 페이지에 상단에 보면 주소가 이렇게 되어있는데

         3번 항목에 format('woff') 에 앞에 ▶ url(NanumBarunGothicLightSubset.woff) 
         url ( /// ) ▶ 괄호 안에 값 복사해서

         주소에 보면 @latest/ 뒤를 지우고, 그 뒤에 붙힌다.
         ▶ https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/NanumBarunGothicSubset.woff


       5) 주소창에 붙히면 다운을 받을 수 있다.
       6) 받은 다음 E:\MyGit\FED\001.HTML학습\008.VOGUE_PJ\002.site >> "fonts"  
          해당 폴더에 넣고

       7) url ( //// ) 해당 폴더에 폰트파일경로 넣고

       8) 맨처음 했던 @import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css"); 
          삭제 혹은 주석

*/


/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'NanumBarunGothic', sans-serif;
    font-family: 'Pistilli', sans-serif;
*/


/* 공통 class ///////////////////////////////////////////////////////////////////*/

/* 배경이미지 설명(또는 숨길글자) 클래스 */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 속박스 */ 
/* 현재는 겉박스 손볼거 없어서 따로 설정안함 */
.ibx{
    max-width: 1300px;
    margin: 0 auto;
    /* 1300px보다 크면 중앙정렬 + 작으면 auto로 width를 유지함! */

    /* outline: 3px dotted blue; */
}



/*////////// 비율유지박스 //////////*/
.rbx{
    position: relative;
    /* 부모자격 - .rbxIn */
   /*  outline: 2px dotted orange; */
}

/* 비율밀기 가상요소 */
.rbx::before{
    content: "";
    display: block;
    /* padding-top 비율은 각 클래스와 연결한다! */
}


/*//////////// 스타일별 비율밀기 ////////////*/
/* 이미지 하나짜리 */
.pt1.rbx::before{
    padding-top: 50%; /* 부모크기 가로크기의 60% (자식이니까) */

    /* 
        [ 비율계산 - 그 비율대로 줄여야하니까]

        * 1개짜리
        1300px : 724px = 100% : ?% (724px은 1300px 기본적으로 보이는 높이값 사이즈크기) (그 비율대로 줄일려고 %계산함)
        ?% = 724px × 100% ÷ 1300px
        ?% = 55.69%

        * 3개짜리
        1300px : 650px = 100% : ?% (1300px에서 3개 보일때 보이는 높이값 650px -> 창을 줄였을때 그 비율대로 줄이려고 %계산함)
        ?% = 650px × 100% ÷ 1300px
        ?% = 50%
    
    */

}
/* 이미지 3개짜리 */
.pt2.rbx::before{
    padding-top: 60%;
}


/* 비율박스 속박스 - 위에서 패딩으로 밀었으니까 이걸 사방으로 붙으라고 밀착하려고 만드는것.*/
.rbxIn{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* 컨텐츠 박스 - 실제 내용이 들어가는 박스 */
.cbx{
    position: relative;
    /* 가상요소의 부모자격 */
    height: 100%; /* 가로를 안쓰면 auto로 끝까지 간다. 높이값만 줌 -> 부모박스를 채움 */
    /* 부모박스를 채움 */
}

/* 컨텐츠 박스 가상요소로 보더애니구현 */
.cbx::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* 나의 부모는? .cbx */
    box-sizing: border-box; /* 보더가 생겨도 커지지 않도록 설정! */
    border: 0px solid transparent; /* transparent : 투명 */

    /* 트랜지션 : 속시이지 */
    transition: all .2s ease-in; /* ease-in 처음만느림 */
}

/* .cbx에 마우스 오버시 보더 생기기 */
.cbx:hover::after{
    border: 20px solid #f00;
}

/* 컨텐츠 타이틀 박스 */
.cbx h2 {
    position: absolute; /* -> 내용만큼 줄어듬*/
    bottom: 0;
    width: 100%;

    font-family: 'Pistilli', 'NanumBarunGothic';  /* 웹폰트 영문체(Pistilli), 한글체(NanumBarunGothic) */
    font-size: 33px;
    color: #fff;
    text-align: center;
    font-weight: lighter; /* 가는 글씨두께 */
 
    box-sizing: border-box; /* 크기유지 */
    padding: 50px;

    /* 그라데이션 배경넣기 (끌자 잘보이게!) */
    background-image: linear-gradient(to top, #000, transparent); /* transparent : 투명색 */
    /* 
         [ 선형 그라데이션 속성 ]
         linear-gradient(방향, 색1, 색2, 색3);

         ex) linear-gradient(to top, blue, yellow, transparent)
              transparent : 투명색
         
         - 방향 : 그라데이션 진행방향
                  ( to top, to bottom, to left, to right)

         - 색상은 지정한 개수만큼 등분되어 그라데이션 표현된다!
         - 색상 비율을 바꿀 수 있다.
           linear-gradient(방향, 색1 몇%, 색2 몇%, 색3 몇%,...); (최소 2개설정해야함)
    */
}


/* .pt2아래 .cbx만 플로팅과 3등분 적용! */
.pt2 .rbxIn{ /* 3등분박스의 직계부모 */
    display: flex; /* flex는 직계부모에게 준다! */
}
.pt2 .cbx{ /* .cbx만 적으면 1첫번째껏도 되기때문 (> 이걸쓰면 직계를 다 작성을 써야한다. / 띄어쓰기하면 직계중에~)*/
    
    /* flex 자식요소로 등분할 경우 flex:1만 설정! */
    flex: 1;
    
    /* 
        float으로 설정할 경우
        가로크기를 %로 계산하여 등분해야함
        float: left;
        width: 33.33%;
   */
    /* float: left; */
    /* width: 33.33%; */ /* 부모의 3등분 나눔 */ /* 높이를 확보해주기 때문에 클리어보뜨가 필요없는거임!(높이가 확정되어있기 때문-비율박스가 있기 때문) */
}


/* 배경이미지 공통 */
.bgi{ /* 꽉채우는 이미지 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
