@charset "utf-8";
/* La La Land 요소 CSS - component.css */

/* 2. 메인영역 */

/* 4계절 원박스 */
#fbx{
    width: 90%;
    height: 450px;
    margin: 0 auto;
}

.flb::after{
    content: "";
    display: block;
    clear: both;
}

/* 개별 4계절 박스 공통 */
.box{ /* 박스 -> 원 (박스) */
    width: 250px;
    height: 250px; 
    border-radius: 70%;
    overflow: hidden;
}
.gray, .color{ /* 박스 -> 원 (이미지) */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 개별 4계절 박스 공통 */
.flx{
    width: 25%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    transition: margin-top .5s ease-in-out;
}

.flx:hover{
    margin-top: -50px;
}

/* 4계절 - 컬러 이미지 숨기기 */
.box span img:last-child{display: none;}

/* 4계절 - 마우스오버시 흑백 이미지 숨기기 */
.flx:hover .box span img:last-child{
    display: inline;
}

/* 4계절 - 마우스오버시 컬러 이미지 보이기 */
.flx:hover .box span img:first-child{
    display: none;
}