@charset "utf-8";
/* La La Land 메인 CSS - main.css */

/* 1. 초기화 셋팅 */
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* 배경영상 */
/* .bgv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
video {
    width: 100%;
  } */

/* 배경이미지 */
/* body{
    background: url(../assets/img/bg.jpg)
    no-repeat fixed center/cover;
} */


/* 배경어둡게 z-index */
.bg{
    background-color:rgba(0, 0, 0, 0.342); /*살짝 투명한 검정으로 배경색*/ 
    background: linear-gradient(to top, rgba(0, 0, 0, 0), 10%, rgba(0, 0, 0, 0.7));
    width:100%; 
    height:100%; 
    position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/ 
    top:0%;
}

/* 배경이미지 설정 */
.cont section{
    background: url(../assets/img/bg.jpg) no-repeat fixed center;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    background-attachment: fixed;
}

/* 타이틀 설정 */
.cont section>h1 {
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 70px;
    
    color: #dff33a;
    text-align: center;
    padding-top: 10px;
}
.cont section>p{
    font-size:1.2em;
    margin-top: 12px;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin: 0;
    
    color: #e1f33aa2;
    text-align: center;
}

/* 배경 요소 앞으로 z-index */
section *{
    position: relative;
    z-index: 1000;
}


/* 3. 하단영역 */
.info{
    width:100%;
    height:110px;
    position:absolute;
    bottom:0;
    background:rgba(0, 0, 0, 0.635);
    text-align: center;
    color: #ccc;
}

/* 하단링크 */
ul.bm{
    display: inline-block;
    width: auto; 
    max-width: 90%; 
    margin: 0 auto; 
    padding: 0;
    padding-top: 10px;
    list-style: none; 
}

ul.bm::after{
    content: "";
    display: block;
    clear: both;
}

ul.bm li{
    float:left;
    padding: 0 5px;
}

ul.bm a{
    color: #ccc;
    text-decoration: none;
    font: bold 14px "맑은 고딕";
}

ul.bm a:hover{
    color: #e1f33aa2;
    text-decoration: underline;
}

/* 주소박스 */
.info address{
    position: fixed;
    width: 100%;

    max-width: 90%;
    
    font-style: unset;
    font: normal 14px "맑은고딕";

    border: 1px solid #555;
    padding: 10px;
}

#blogo{
    float: left;
    display: inline;
}

address::after{
    content: "";
    display: block;
    clear: both;
}

#blogo a{
    text-decoration: none;
}

